.Table-container {
  text-align: left; /* Align the table content to the left */
  margin: 20px;
  overflow-x: auto;
}
.pagination{
  padding: 10px;
  text-align: end;
}
button{
  cursor: pointer;
  border-radius: 8px;
}

.table-scroll {
  overflow: auto;
  max-height: 100vh;
  max-width: 100%;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th {
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  text-align: center; /* Center align the header cells */
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center; /* Center align the data cells */
}

button:hover {
  background-color: #4eacd1;
  color: black;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 8px;
  }

  .table-scroll {
    max-width: 100%;
  }
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}